.vscode
.idea
.DS_Store
*.js
*.js.map
*.log
*.esm.json
logs
!src/scripts/*.js
demo/**/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
publish/src
publish/package
src/platforms/android/nativescript_geolocation.aar
