<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Geolocation Angular Demo"></Label>
</ActionBar>

<GridLayout rows="auto, auto, *, auto" class="page">
    <GridLayout row="0" columns="*, *, *, *" >
        <Button text="Enable Location" col="0" textWrap="true" (tap)="enableLocationTap()"></Button>
        <Button text="Get Current Location" col="1" textWrap="true" (tap)="buttonGetLocationTap()"></Button>
        <Button text="Start Monitoring" col="2" textWrap="true" (tap)="buttonStartTap()"></Button>
        <Button text="Stop Monitoring" col="3" textWrap="true" (tap)="buttonStopTap()"></Button>
    </GridLayout>
    <ListView row="2" [items]="locations">
        <ng-template let-item="item">
            <Label text="{{ item.latitude + ', ' + item.longitude + ', ' + item.altitude }}" ></Label>
        </ng-template>
    </ListView>
    <Button text="Clear" row="3" (tap)="buttonClearTap()"></Button>
</GridLayout>